* {
    margin: 0;
    padding: 0;
    font-family: "sahel";
}

header {
    display: flex;
}

header img {
    position: absolute;
    z-index: -1;
}

.header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin-top: 50px;
    margin-left: 350px;
}
.h-item {
    height: 45px;
    width: 100px;
}

.header a {
    color: #333333;
    text-decoration: none;
}

.h-1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-1 button {
    width: 120px;
    height: 40px;
    background-image: linear-gradient(to top, #e35325, #ff8a65);
    border-radius: 20px;
    border: none;
    color: #fff;
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
}

.h-2 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-3 {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-4 {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-5 {
    grid-area: 1 / 6 / 2 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-6 {
    grid-area: 1 / 7 / 2 / 8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-7 {
    grid-area: 1 / 8 / 2 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 406px;
    height: 219px;
    margin-left: 100px;
    position: relative;
}

.duolingo {
    position: absolute;
    right: 200px;
    margin-top: 10px;
}

.logo-name {
    position: absolute;
    top: 40px;
    margin-left: 20px;
    color: #007f62;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    width: 400px;
    height: 400px;
    margin-left: 200px;
    margin-top: 100px;
    direction: rtl;
}
.main-text h1 {
    color: #007f62;
}

.photo {
    width: 500px;
    height: 600px;
    position: relative;
}

.tree {
    position: absolute;
    width: 834px;
    height: 505px;
    z-index: 1;
    top: 200px;
}

.travel {
    position: absolute;
    width: 500px;
    height: 650px;
    z-index: 2;
    top: 110px;
}

.bird {
    position: absolute;
    top: 80px;
    left: 350px;
}

.main-wave {
    position: absolute;
    left: 0;
    z-index: -1;
}

.places {
    margin-right: 300px;
    margin-left: 300px;
}
.place-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.text-box {
    width: 430px;
    height: 200px;
    direction: rtl;
}
.text-box h2 {
    margin-bottom: 20px;
    color: #007f62;
}

.icons-column {
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icons {
    width: 70px;
    height: 70px;
    border: 1px solid #00a680;
    padding: 15px 15px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.icon {
    width: 45px;
    height: 45px;
}
.i-fly {
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to top, #f46739, #ff9f81);
    border: none;
}

.line {
    position: absolute;
    width: 2px;
    height: 920px;
    background-color: #39ebc4;
    z-index: -1;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.wave2 {
    margin-top: 80px;
}

.wave2 img {
    width: 100%;
    position: absolute;
    z-index: -1;
}
.phone {
    position: relative;
}
.phone-wall {
    position: absolute;
    right: -18px;
    width: 480px;
    top: -20px;
    /* border: 2px solid red; */
    border-radius: 100px;
    padding: 0;
}

.download {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 370px;
    width: 1170px;
    height: 300px;
    padding-bottom: 50px;
    box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.download h2 {
    color: #007f62;
}

.d-input button {
    width: 140px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to top, #e35325, #ff8a65);
    position: absolute;
}

.d-input input {
    width: 400px;
    height: 50px;
    border-radius: 25px;
    border: solid 1px #eee;
    background-color: #fafafa;
    font-size: 24px;
    padding-left: 170px;
    outline: none;
}

.buttons {
    width: 600px;
    position: absolute;
    margin-top: 400px;
    display: flex;
    justify-content: space-around;
}
.buttons button {
    width: 160px;
    height: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
    background-image: linear-gradient(to top, #00a680, #00f4bd);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.download-icon {
    width: 750px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    margin-left: 85px;
    margin-top: 5px;
}

.d-icon {
    width: 35px;
    height: 35px;
}

.version {
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 850px;
    font-family: Arial, Helvetica, sans-serif;
    color: #007f62;
}

.notes {
    width: 100%;
    height: 350px;
    margin-bottom: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    position: relative;
}
.notes p {
    width: 900px;
    margin-top: 30px;
}
.notes img {
    position: absolute;
    z-index: -1;
}

.notes button {
    position: absolute;
    bottom: -22px;
    margin-top: 180px;
    width: 160px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 25px;
    padding: 10px 10px;
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.place-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 370px;
    margin-left: 370px;
    padding-top: 40px;
}

.place-photo p {
    direction: rtl;
}

.place-photo img {
    border-radius: 10px;
}

.p-photo-title {
    color: #007f62;
    font-size: 24px;
    margin-bottom: 10px;
}

.p-photo-text {
    padding-right: 150px;
    padding-left: 150px;
}

.place-image {
    margin-top: 50px;
    margin-bottom: 50px;
}

.place-image img:hover {
    box-shadow: #73a99d 0px 19px 38px, #73a99d 0px 15px 12px;
    transition: 1s;
}

.last-input {
    direction: rtl;
    padding-right: 30px;
    color: #9e9e9e;
    background-color: #ffffff;
}

.last-button {
    margin-top: 10px;
}

.email-btn {
    margin-bottom: 10px;
}

footer {
    margin-top: 100px;
}


@font-face {
    font-family: "sahel";
    src: url(./Sahel.ttf);
}
